<div class="container">
	<div class="row">
		<div class="col s12 l12 center-align">
			 <h1>Anda belum terdaftar di workspace "{{data.workspace.name}}"</h1>
			 <form method="POST" action="/u/dojoin">
			 	 <input type="hidden" name="name" value="{{data.workspace.name}}">
			 	 <button type="submit" name="action" class="btn blue darken-4">join</button>
			 	 <a href="/" class="btn blue darken-4">Back to Home</a>
			 </form>
		</div>
	</div>
</div>