<div class="container">
	<div class="row">
		<div class="col s12 l12 center-align">
			 <h1 class="black-text">Workspace not found</h1>
			 <a href="/" class="black-text text-lighten-2 btn-flat">back to home</a>
		</div>
	</div>
</div>