<div class="row equal-height-grid">
  <div class="col l9">
    <div class="card">
      <div class="card-content">
        <span class="card-title" id="chat-username">Jane Doe</span>
        <p>Currently Online</p>
      </div>

      <div class="divider"></div>

      <div class="card-content chat-container" style="overflow:scroll;max-height:300px">
        <div class="chat-wrapper">

          <div class="chat-message left">
            <img class="circle"
              src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?v=1218798423999129079" alt="avatar">
            Lo-fi you probably haven't heard of them etsy leggings raclette kickstarter four dollar toast. Raw denim
            fingerstache food truck chia health goth synth. Forage man bun intelligentsia freegan PBR&amp;B banh mi
            asymmetrical chambray.
          </div>

          <div class="chat-message right">
            <img class="circle"
              src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?v=15342908036415923195" alt="avatar">
            Lo-fi you probably haven't heard of them.
          </div>
          <div class="chat-message right">
            etsy leggings raclette kickstarter four dollar toast.
          </div>
          <div class="chat-message right">
            Raw denim fingerstache food truck chia health goth synth. Forage man bun intelligentsia freegan PBR&amp;B
            banh mi asymmetrical chambray.
          </div>

          <div class="chat-message left">
            <img class="circle"
              src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait1.jpg?v=1218798423999129079" alt="avatar">
            Raw denim fingerstache food truck chia health goth synth.
          </div>

        </div>
      </div>

      <div class="chat-input">
        <form action="">
          <div class="chat-input-bar">
            <input type="text" id="textarea1" class="materialize-textarea" style="height: 72px;"></input>
            <button type="submit">
              <i class="material-icons">send</i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col l3">
    <div class="card">
      <div class="card-content">
        <span class="card-title">Friends</span>
        <p>12 Friends online</p>
      </div>
      <ul class="collection flush">
        {{#each users}}
        <li class="collection-item avatar chat-users" data-username="{{this.username}}">
          <div class="badged-circle {{#if this.online}} online {{/if}}">
            <img class="circle" src="https://ui-avatars.com/api/?name={{this.username}}" alt="avatar">
          </div>
          <span class="title">{{this.username}}</span>
          <p class="truncate"><span class="badge"></span><span class="message">lorem</span></p>
        </li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>

<script>
  $('.chat-container').scrollTop(document.querySelector('.chat-container').scrollHeight - document.querySelector('.chat-container').clientHeight)
  $('.chat-wrapper').html('');
  socket.emit('im-online', $('#dropdown1>li:first-child').text());

  function sendMessage(textInput) {
    let message = textInput.val();
    let receiver = $('#chat-username').text();
    renderSendChat(message);
    socket.emit('private-chat', { message, receiver }, $('button').val());
    textInput.val('');
  }
  function getReceivanId(username) {
    socket.emit('ask-private-chat', { dest: username });
  }

  socket.on('who-online', username => { 
    $(`.chat-users[data-username="${username}"]>.badged-circle`).addClass('online');
    socket.emit('im-online', $('#dropdown1>li:first-child').text());
  });
  socket.on('someone-ask-private-chat', msg => {
    if (msg.dest === username) {
      socket.emit('receive-private-chat', msg);
    }
  });
  socket.on('receive-private-chat', msg => {
    if (msg.dest === $('#chat-username').text())
      $('button').val(msg.destId);
  });
  socket.on('private-chat', (msg, sender) => {
    if (sender === $('#chat-username').text()) {
      renderReceiveChat(msg);
      $('.avatar[data-username="dudung"]>p>.message').text(msg)
    } else {
      let counter = $(`.avatar[data-username="${sender}"]>p>.badge`).text();
      counter++
      $(`.avatar[data-username="${sender}"]>p>.badge`).addClass('new');
      $(`.avatar[data-username="${sender}"]>p>.badge`).text(counter);
      $(`.avatar[data-username="${sender}"]>p>.message`).text(msg)
    }
  });


  let renderSendChat = (message) => {
    let chatText = `<div class="chat-message right">
            <img class="circle"
              src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?v=15342908036415923195" alt="avatar">
            ${message}
          </div>`;
    $('.chat-message:last-child').after(chatText)
    $('.chat-container').scrollTop(document.querySelector('.chat-container').scrollHeight - document.querySelector('.chat-container').clientHeight)
  }

  let renderReceiveChat = (message) => {
    let chatText = `<div class="chat-message left">
            <img class="circle"
              src="//cdn.shopify.com/s/files/1/1775/8583/t/1/assets/portrait2.jpg?v=15342908036415923195" alt="avatar">
            ${message}
          </div>`;
    $('.chat-message:last-child').after(chatText)
    $('.chat-container').scrollTop(document.querySelector('.chat-container').scrollHeight - document.querySelector('.chat-container').clientHeight)
  }

  let renderChats = (data, username) => {
    $('.chat-wrapper').html('<div class="chat-message"></div>');
    data.forEach(item => {
      if (item.chat.sender === username) {
        renderSendChat(item.chat.message);
      } else {
        renderReceiveChat(item.chat.message)
      }
    });
    $('.chat-message:first-child').remove();
  }

  let getChats = (sender, receiver, workspace) => {
    $.post("http://localhost/x/pull-chats",
      {
        username: sender,
        workspacename: workspace,
        receiver: receiver,
      }, (data) => {
        renderChats(data, sender);
      });
  }

  $('.chat-input>form').submit(evt => {
    evt.preventDefault();
    sendMessage($('#textarea1'));
  });

  $('.chat-users').click(function (evt) {
    evt.stopPropagation()
    /* 1. Tambah class active */
    $('.chat-users').removeClass('active');
    $(this).toggleClass('active');
    $(`.avatar[data-username="${$(this).attr('data-username')}"]>p>.badge`).removeClass('new');
    $(`.avatar[data-username="${$(this).attr('data-username')}"]>p>.badge`).text('');

    /* 2. Ambil Username*/
    $('#chat-username').text($(this).attr('data-username'))
    getReceivanId($('#chat-username').text());
    getChats($('#dropdown1>li:first-child').text(), $('#chat-username').text(), $('.brand-logo>a').text());
  })
</script>