<div class="row">
    <div class="col l3">
        <div class="section">
            <img class="responsive-img" src="https://randomuser.me/api/portraits/men/1.jpg">
            <p>{{username}}</p>
        </div>
        <div class="btn">ubah foto</div>
    </div>
    <div class="col l9">
        <form action="post">
            <div class="row">
                 <h5>Detail User</h5>
                    <div class="input-field col l12">
                        <textarea id="description-input" class="materialize-textarea"></textarea>
                        <label for="description-input">Deskripsi</label>
                    </div>
            </div>
            <div class="row">
                <div class="divider"></div>
            </div>
            <div class="row">
                 <h5>Ubah Password</h5>
                    <div class="input-field col l6">
                        <input type="password" id="password-user-setting">
                        <label for="password-user-setting">Password</label>
                    </div>
                    <div class="input-field col l6">
                        <input type="password" id="confirm-password-user-setting">
                        <label for="confirm-password-user-setting">Konfirmasi Password</label>
                    </div>
            </div>
        </form>
        <div class="btn"><i class="material-icons left">save</i>Simpan</div>
    </div>
</div>